
    /* Container styles */
    body {
        background-color: rgb(26, 24, 24);
        font-family: Arial, sans-serif;
    }

    .mytodo-list {
        width: 500px;
        margin: 100px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /* Input and Button styles */
    input[type="text"] {
        width: 80%;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="submit"],
    button {
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover,
    button:hover {
        background-color: #258cd1;
    }

    #close {
        font-size: 20px;
        color: #ff0000;
        text-decoration: none;
    }

    /* Counter styles */
    #counter {
        margin: 10px 0;
        font-size: 18px;
    }

    /* Table styles */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        background-color: #3498db;
        color: #fff;
        padding: 10px;
    }

    th,
    td {
        border: 1px solid #ccc;
        text-align: left;
        padding: 10px;
    }

    /* Form styles */
    form {
        margin-top: 20px;
    }

    .d-flex {
        display: flex;
    }

    .gap-2 {
        gap: 2rem;
    }

    /* Task list styles */
    #mytodo-tasks tr:hover {
        background-color: #f2f2f2;
    }

